/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0073e6;
    padding: 15px 20px;
    color: white;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  /* Mobile Responsive */
  /* @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      text-align: center;
    }
  
    .nav-links {
      margin-top: 10px;
    }
  } */
   /* */ 

   .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  
  
  .nav-links a, .auth-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .employer-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  